/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

body{
  font-family: Montserrat, sans-serif;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header{
  background-image: url("../img/bg1.jpg");
  height: 100vh;
  position: relative;
}
.second{
  background-image: url("../img/bg2.jpg");
}
.third{
  background-image: url("../img/bg3.jpg");
}
.fourth{
  background-image: url("../img/bg4.jpg");
}
.paddings{
  padding: 45px 0;
}
.sertiz{
  position: absolute;
  bottom: 140px;
  left: 80px;
  color: #fff;
}
.sertiz h2{
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 20px;
}
.sertiz p{
  font-family: "Lato", sans-serif;
  font-size: 18px;
  padding-bottom: 30px;
}
.sertiz div{
  text-transform: uppercase;
  font-size: 54px;
  font-weight: 700;
  border: 1px solid #fff;
  padding: 40px 28px 40px 0;
  background-color: rgba( 0,0,0, 0.3);
  white-space: nowrap;
}
.sertiz span{
  text-align: center;
  /* text-align: left; */
  color: #f1ad1d;
  padding: 34px 28px 35px;
  /* margin-top: 4px; */
  background-color: white;
}

.container{
  width: 830px;
  margin: 0 auto;
}
.text{
  padding-top: 150px;
  text-align: center;
  color: #333333;
}
.text h2{
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
.text p{
  font-family: Lato, sans-serif;
  font-size: 17px;
  margin-top: 15px;
  color: #4d4943;
}
.orange-line{
  text-align: center;
  padding: 60px 0;
}
.color-title h2{
  color: #fff;
}
.text span{
  color: #f1ad1d;
}
.companies{
  display: flex;
  justify-content: space-between;
}
.color-title p{
  color: #fff;
  font-size: 18px;
}
.while-line{
  text-align: center;
  padding: 45px 0 60px;
}
